<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StackOverflow</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .jumbotron {
            padding: 20px;
            margin-bottom: 20px;
            background-color: #3CBC8D;
        }

        input[type=submit] {
            padding: 5px 15px;
            background: darkcyan;
            border: 0 none;
            cursor: pointer;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
{% include 'inc/navbar.html' %}
<div class="jumbotron">
    {% include 'inc/messages.html' %}
    {% block content %}{% endblock %}
</div>
</body>
</html>